#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Kubernetes secrets (if generated locally)
**/secrets.yaml
**/secret-*.yaml

# Local values overrides
**/values.local.yaml
